*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    padding:1.25rem;
    background:#ECD7D7;
    width:100%;
    margin:0 auto;
}
h1{
    font-size:2.25rem;
    text-align: center;
}
/* search box styles */
.search_box{
    display:flex;
    width:100%;
    margin-top:40px;
    justify-content: space-between;
}
#search_input{
    padding:.75rem;
    width:80%;
    font-size:1.15rem;
    background:none;
    margin:0 auto;
    border: solid 1.5px black;
    border-radius:10px;
}

#search_btn{
    display:none;
    /* padding:5px;
    border:none;
    border-radius: 5px;
    background:rgb(7, 151, 207);
    color:white;
    font-size:.85rem;
    margin-top:10px; */
}
#search_btn:hover{
    cursor: pointer;

}

/* main */

main{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width:500px;
    margin:2rem auto;   
}
.main_weather_box{
    display:flex;
    padding:.5rem;
    justify-content: space-around;
}

.line{
    border-right: solid 2px;
}

.current_weather{
    font-size:1.2rem;
    padding:.15rem;
    font-weight:900;
    text-align: center;
}

.icon img{
    margin:10px auto;
    width:80px;
    align-self: center;
    justify-self: center;
}

.degree_side .temp{
    font-size:4rem;
    font-weight:400;
    margin-top:20px;
    align-self: center;
}

.weather_day h2{
    font-size:1.5rem;
    text-align:center;
    margin:30px 0;
    padding:.25rem;
}

.weather_location h3{
    font-size:1.3rem;
    font-weight:500;
    padding:.75rem;
    text-align:center;
}

/* end main */

.nextWeather{
    display: flex;
    flex-direction: row;
    width:100%;
    
    margin:0 auto;
    justify-content: space-between;
    flex-wrap:wrap;
    
}

.nextWeather_box{
    padding:.15rem;
    margin-bottom:30px;
    display: flex;

}
.nextWeather_box_right{
    display: flex;
}

.nextWeather_box_left{
    padding:10px;
    
}
.next img{
    margin:10px auto;
    width:40px;
}
.next_weather{
    font-weight:400;
    font-size:.75rem;
    text-align: center;
}
.nextWeather_day{
    writing-mode: vertical-lr;
    text-orientation:upright;
    text-align: center;
    font-weight:300;
    font-size:1rem;
}
.nextWeather_temp{
    margin-left:10px;
    font-weight:400;
    font-size:1.7rem;
    margin-top:30px;
}




.footer{
    margin-top:0%;
    text-align: center;
}

#dynamicContent{
    display: none;
}